html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;

}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*       Reset is above         */


:root {
    font-family: Helvetica, sans-serif;
    color: white;
}

.container {

    width: 100vw;
    height: 100vh;
    display: grid;

    grid-template-columns: minmax(244px, 300px) 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.container > div {
    border: 1px solid black;
}

/* ----------------SIDEBAR--------------- */

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: #5a7cff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 60px;
    padding: 20px 0;
}

.sidebar-header {
    /*border: 1px solid black;*/
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 5px 0 5px 10px;

    gap: 12px;

}

.sidebar-header > p {
    font-size: 2rem;
    align-self: center;
    justify-self: flex-start;
}

.sidebar-group {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    gap: 20px;
}

.sidebar-item {
    /*border: 1px solid black;*/
    display: grid;
    grid-template-columns: 1fr 3fr;


}

.sidebar-item > p {
    font-size: 1.4rem;
    align-self: center;
    justify-self: flex-start;
    padding-left: 30px;
}


.sidebar-header-icon, .sidebar-icon {
    justify-self: center;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(200%) contrast(100%);
}

.sidebar-header-icon {
    width: 50px;
    justify-self: center;

}

.sidebar-icon {
    width: 30px;
}





/* --------------HEADER----------------- */

.header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

/* ---------------ARTICLE------------------ */

.article {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

